body {
  background-color: #EAE5DF; /* Alterei a cor de fundo para um cinza claro */
  color: #333; /* Cor do texto principal */
  font-family: 'Arial', sans-serif; /* Adicionei uma fonte padrão */
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BE959F; /* Alterei a cor do cabeçalho para um azul escuro */
  padding: 1em;
  margin: 0;
}

.logo h1 {
  margin: 0;
  font-size: 1.5em; /* Ajustei o tamanho da fonte */
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #ecf0f1; /* Cor dos links no cabeçalho */
  font-weight: bold;
  font-size: 1em;
  transition: color 0.3s ease; /* Transição suave da cor ao passar o mouse */
}

.nav-links a:hover {
  color: #3498db; /* Cor ao passar o mouse */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info .button {
  margin-right: 10px;
  background-color: #e74c3c; /* Cor do botão de logout */
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 3px;
}

.user-info span {
  color: #ecf0f1;
  font-weight: bold;
}

#content label {
  font-weight: normal;
}
#content > form {
  margin: 0 auto;
  padding: 1em;
  max-width: 20em;
  border: 1px solid #d2afe7;
}
#content > form .error {
  font-weight: bold;
  color: #ff3333;
}
#content > form .success {
  font-weight: bold;
  color: #106af1;
}
#content > form input {
  background-color: white;
}
@media (max-width: 70em) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
  main > header {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  main > header h1 {
    grid-row-end: span 2;
  }
}
@media (max-width: 40em) {
  #cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 25em) {
  body {
    margin: 0;
  }
  main > header {
    margin: 0;
    padding: 0.5em;
  }
  main > header span {
    margin: 0;
  }
  #content form {
    margin: 0;
    max-width: 25em;
  }
  article.card {
    margin: 0;
    border-bottom: 1px solid rgba(96, 108, 118, 0.4);
  }
}
/**
 * Override milligram colors
 * Some styles might be missing
 **/
button {
  background-color: #9b4dca;
  border-color: #9b4dca;
}
a.button {
  background-color: #9b4dca;
  border-color: #9b4dca;
}
a.button.button-outline {
  color: #9b4dca;
}
a {
  color: #9b4dca;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #9b4dca;
}

  /**
   * Override milligram colors
   * Some styles might be missing
   **/
  button {
    background-color: #13472E;
    border-color: #13472E;
  }
  a.button {
    background-color: #13472E;
    border-color: #13472E;
  }
  a.button.button-outline {
    color: #13472E;
  }
  a {
    color: #13472E;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border-color: #13472E;
  }
  
/* Container Geral */
.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 20px 0; /* Adiciona espaço superior e inferior */
}

/* Barra Lateral Esquerda */
.left-sidebar {
  width: 240px;
  background-color: #BE959F; /* Cinza claro */
  color: #13472E; /* Cor do texto preto */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin-left: 20px; /* Adiciona espaço inferior */
}


.left-sidebar .logo img {
  max-width: 80%; /* Ajustado para 80% para evitar overflow */
  border-radius: 50%;
}

.left-sidebar .sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
}

.left-sidebar .sidebar-menu li {
  margin-bottom: 10px;
}

.left-sidebar .profile-section {
  text-align: center;
}

.left-sidebar .profile-section img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.left-sidebar .sidebar-section {
  margin-top: 20px;
  width: 100%;
}

.left-sidebar .sidebar-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Conteúdo Principal */
.main-content {
  flex: 1; /* Cresce para ocupar o espaço restante */
  padding: 15px;
}

.top-section {
  text-align: center;
  margin-bottom: 10px;
}

.top-section h2 {
  font-size: 14px;
}

.top-section .search-bar {
  width: 200px; /* Ajustei a largura para 200px para dar mais destaque */
  margin-top: 10px;
  padding: 8px;
  border: 2px solid #3498db; /* Cor da borda */
  border-radius: 5px;
  background-color: #ecf0f1; /* Cor de fundo */
  color: #2c3e50; /* Cor do texto */
  transition: all 0.3s ease; /* Transição suave para hover */

  /* Adiciona sombra suave */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.top-section .search-bar:hover {
  border-color: #2980b9; /* Cor da borda ao passar o mouse */
}

.upload-post-section {
  text-align: center;
  margin-bottom: 20px;
}

.upload-post-section input {
  width: 80%; /* Reduzi a largura para 60% */
  padding: 30px; /* Aumentei o padding para dar mais destaque */
  border: 2px solid #BE959F; /* Cor da borda */
  border-radius: 5px;
  background-color: #f2dede; /* Cor de fundo */
  color: #13472E; /* Cor do texto */
  transition: all 0.3s ease; /* Transição suave para hover */

  /* Adiciona sombra suave */
  box-shadow: 0 0 10px solid #BE959F;
}

.upload-post-section input:hover {
  border-color: #BE959F; /* Cor da borda ao passar o mouse */
  background-color: #f2dede; /* Cor de fundo ao passar o mouse */
  color: #13472E; /* Cor do texto ao passar o mouse */
}


.post-button {
  padding: 5px 10px;
  background-color: #13472E;
  color: #fff;
  border: none;
  border-radius:5px;
  cursor: pointer;
}

.welcome-post {
  background-color: #BE959F;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-name {
  font-weight: bold;
  margin-right: 10px;
}

.post-content {
  margin-bottom: 10px;
}

.post-actions {
  display: flex;
  align-items: center;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.heart-icon {
  margin-right: 10px;
  font-size: 24px; /* Tamanho do coração aumentado */
}

.like-count {
  font-weight: bold;
  font-size: 18px; /* Tamanho do contador de likes ajustado */
  margin-right: 5px;
}

.comment-input {
  width: 70%; /* Reduzi a largura para 60% */
  padding: 18px; /* Aumentei o padding para dar mais destaque */
  border: 2px solid #BE959F; /* Cor da borda */
  border-radius: 5px;
  background-color: #f2dede; /* Cor de fundo */
  color: #13472E; /* Cor do texto */
  transition: all 0.3s ease; /* Transição suave para hover */

  /* Adiciona sombra suave */
  box-shadow: 0 0 10px solid #BE959F;
}

.comment-button {
  padding: 5px 10px;
  background-color: #13472E;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.comments-section {
  margin-top: 10px;
}

.comment {
  width: 80%; /* Reduzi a largura para 60% */
  padding: 30px; /* Aumentei o padding para dar mais destaque */
  border: 2px solid #BE959F; /* Cor da borda */
  border-radius: 5px;
  background-color: #f2dede; /* Cor de fundo */
  color: #13472E; /* Cor do texto */
  transition: all 0.3s ease; /* Transição suave para hover */

  /* Adiciona sombra suave */
  box-shadow: 0 0 10px solid #BE959F;
}


/* Barra Lateral Direita */
.right-sidebar {
  width: 240px;
  padding: 20px;
  background-color: #BE959F;
  color: #13472E;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin-right: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.suggested-groups,
.people-near-you,
.trending-hashtags {
  margin-bottom: 20px;
}

.suggested-groups h3,
.people-near-you h3,
.trending-hashtags h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 5px;
}


.right-sidebar .sidebar-box {
  margin-bottom: 20px;
  border: 1px solid #BE959F;
  padding: 10px;
  border-radius: 5px;
}

.right-sidebar .sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

body .profile-container {
  max-width: 600px;
  margin: 0 auto;
}

body .profile-header {
  display: flex;
  flex-direction: column;
  font-size: small;
  background-color: #BE959F;
  
}

body .profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 50px;
}

body .user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  margin-left: 50px;
}

body .profile-body {
  margin-top: 20px;
}

body .profile-body .post {
  border: 1px solid #ddd;
  background-color: white;
  padding: 100px;
  margin-bottom: 10px;
  text-align: center;
}

body .edit-profile-link {
  display: block;
    margin-top: 10px;
    margin-left: auto; 
    margin-right: 50px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background-color: #13472E;
    text-decoration: none;
    text-align: center;
    width: fit-content;
}
