  body {
    background-color: #EAE5DF;
    color: #13472E;
    font-family: 'Arial', sans-serif;
    margin: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BE959F;
    padding: 1em;
    margin-bottom: 20px;
  }

  .logo h1 {
    margin: 0;
    font-size: 1.5em;
  }

  .nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: 750px;
  }

  .nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav-links li {
    margin-left: 20px; /* Mudei para margin-left para criar espaço à esquerda */
  }

  .nav-links a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 1em;
    transition: color 0.3s ease;
  }

  .nav-links a:hover {
    color: #13472E;
  }

  .user-info {
    display: flex;
    align-items: center;
  }

  .user-info .button {
    background-color: #13472E;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 3px;
  }

  .user-info span {
    color: rgb(2, 27, 33);
    font-weight: bold;
  }

  /**
   * Override milligram colors
   * Some styles might be missing
   **/
  button {
    background-color: #13472E;
    border-color: #13472E;
  }
  a.button {
    background-color: #13472E;
    border-color: #13472E;
  }
  a.button.button-outline {
    color: #13472E;
  }
  a {
    color: #13472E;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border-color: #13472E;
  }
  
