  body {
    background-color: white;
    color: black;
    font-family: 'Arial', sans-serif;
    margin: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D4E4F2;
    padding: 0;
  }

  .logo h1 {
    margin: 20px;
    font-size: 2em;
  }

  .nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: 750px;
  }

  .nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav-links li {
    margin-left: 20px; /* Mudei para margin-left para criar espaço à esquerda */
  }

  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
  }

  .nav-links a:hover {
    color: rgb(41, 41, 93);
  }

  .user-info {
    display: flex;
    align-items: center;
  }

  .user-info .button {
    background-color: #BAD1E6;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 3px;
  }

  .user-info span {
    color: rgb(2, 27, 33);
    font-weight: bold;
  }

  /**
   * Override milligram colors
   * Some styles might be missing
   **/
  button {
    background-color: #BAD1E6;
    border-color: #BAD1E6;
  }
  a.button {
    background-color: #BAD1E6;
    border-color: #BAD1E6;
  }
  a.button.button-outline {
    color: #BAD1E6;
  }
  a {
    color: white;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border-color: white;
  }
  
