/* Container for the sidebar and groups */
.container {
    display: flex;
    justify-content: flex-start;
}

/* Barra Lateral Esquerda */
.left-sidebar {
    width: 300px;
    height: 100vh;
    min-height: 100%;
    background: url(background.jpg); 
    color: black; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .left-sidebar .logo img {
    max-width: 80%; /* Ajustado para 80% para evitar overflow */
    border-radius: 50%;
  }
  
  .left-sidebar .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 20px 0 30px;
    width: 100%;
  }
  
  .left-sidebar .sidebar-menu li {
    text-align: center;
    margin-bottom: 45px;
  }
  
  .left-sidebar .sidebar-menu li a{
    color:  black;
    font-size: larger;
  }

  .left-sidebar .sidebar-menu li a:hover{
    color: rgb(191, 191, 191);
  }

  .left-sidebar .profile-section a{
    color:  black;
    font-size: larger;
  } 

  .left-sidebar .profile-section a:hover{
    color: rgb(191, 191, 191);
  } 

  .left-sidebar .profile-section {
    text-align: center;
  }
  
  .left-sidebar .profile-section img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .left-sidebar .sidebar-section {
    margin-top: 20px;
    width: 100%;
  }
  
  .left-sidebar .sidebar-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

/* Style for each group container */

.main-content {
    flex: 1; 
    padding-left: 50px;
    padding-right: 50px;
    width: 50%;
}

.group-container {
    display: flex;
    justify-content: space-between;
}

.group-container .view-details {
    color:white;
    padding: 20px;
    background-color: #BAD1E6;
    border-radius: 10px;

}

.group-container .view-details:hover {
    background-color: rgb(191, 191, 191);
}

ul li:not(#users-not-found, .sidebar-menu > li) {
    margin-bottom: 5px;
}
  
ul li:not(#users-not-found) {
    transition: transform 0.3s ease;
}

ul li:hover:not(#users-not-found) {
    transform: translateX(5px);
}

.Group-container{
    margin-top: 50px;
}

.Group-container a{
    color: white;
    padding: 10px;
    background-color: #BAD1E6;
    border-radius: 5px;
    font-size: smaller;
}

.Group-container .owner{
    color:#BAD1E6;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
}

.group-container .group-create-container .form-group a{
    color: black;
    font-weight: bold;
}
  
.upload-post-section {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper .btn-upload {
  border: 2px solid white;
  color: white;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-post-section input[type="submit"] {
    float: right;
    background-color: #D4E4F2;
    border-color: #D4E4F2;
    color: #fff;
    font-weight: bold;
}

.upload-btn-wrapper .btn-upload:hover {
  background-color: white;
  color: white;
}

.input-group {
    position: relative;
}

.input-group .custom-file {
    overflow: hidden;
    position: relative;
}

.input-group .custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 1rem);
    margin: 0;
    opacity: 0;
}

.input-group .custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 1rem);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-group .custom-file-input:focus~.custom-file-label {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-upload {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload-btn-wrapper .btn-upload:hover {
    border-color: black;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

  
.welcome-post {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
}

.show-details {
    color: #555;
    font-size: 14px;
    text-decoration: none;
}

.show-details:hover {
    color: #333;
}

.post-content {
    margin: 15px 0;
}

.post-description {
    font-size: 18px;
    line-height: 1.5;
}

.post-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.post-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.comments-section {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #D4E4F2;
    border: 1px solid #D4E4F2;
}

.btn-danger {
    color: #fff;
    background-color: #D4E4F2;
    border: 1px solid #D4E4F2;
}

.btn:hover {
    filter: brightness(90%);
}

.likes-section {
  display: inline-block;
}

.like-btn {
  text-decoration: none;
  color: black;
  position: relative;
}

.heart {
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

.like-btn.clicked .heart {
  color: red; /* Cor quando clicado */
}

.like-count {
  margin-left: 5px;
}

.comment-description {
  font-size: 18px;
  color: #6084A3;
}

.comment-author {
  color: black;
}
.comment-author:hover {
  color: grey;
}



