  /* Container Geral */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  
  /* Barra Lateral Esquerda */
  .left-sidebar {
    width: 300px;
    height: 100vh;
    min-height: 100%;
    background: url(background.jpg); 
    color: black; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .left-sidebar .logo img {
    max-width: 80%; /* Ajustado para 80% para evitar overflow */
    border-radius: 50%;
  }
  
  .left-sidebar .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
  }
  
  .left-sidebar .sidebar-menu li {
    text-align: center;
    margin-bottom: 45px;
  }
  
  .left-sidebar .sidebar-menu li a{
    color:  black;
    font-size: larger;
  }

  .left-sidebar .sidebar-menu li a:hover{
    color: rgb(191, 191, 191);
  }

  .left-sidebar .profile-section a{
    color:  black;
    font-size: larger;
  } 

  .left-sidebar .profile-section a:hover{
    color: rgb(191, 191, 191);
  } 

  .left-sidebar .profile-section {
    text-align: center;
  }
  
  .left-sidebar .profile-section img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .left-sidebar .sidebar-section {
    margin-top: 20px;
    width: 100%;
  }
  
  .left-sidebar .sidebar-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Conteúdo Principal */
  .main-content {
    flex: 1; /* Cresce para ocupar o espaço restante */
    padding: 15px;
  }
  
  .top-section {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .top-section h2 {
    font-size: 14px;
  }
  
  .top-section .search-bar {
    width: 200px; /* Ajustei a largura para 200px para dar mais destaque */
    margin-top: 10px;
    padding: 8px;
    border: 2px solid #3498db; /* Cor da borda */
    border-radius: 5px;
    background-color: #ecf0f1; /* Cor de fundo */
    color: #2c3e50; /* Cor do texto */
    transition: all 0.3s ease; /* Transição suave para hover */
  
    /* Adiciona sombra suave */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .top-section .search-bar:hover {
    border-color: #2980b9; /* Cor da borda ao passar o mouse */
  }
  
  .upload-post-section {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper .btn-upload {
  border: 2px solid white;
  color: white;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-post-section input[type="submit"] {
    float: right;
    background-color: #D4E4F2;
    border-color: #D4E4F2;
    color: #fff;
    font-weight: bold;
}

.upload-btn-wrapper .btn-upload:hover {
  background-color: white;
  color: white;
}



.input-group {
    position: relative;
}

.input-group .custom-file {
    overflow: hidden;
    position: relative;
}

.input-group .custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 1rem);
    margin: 0;
    opacity: 0;
}

.input-group .custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 1rem);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-group .custom-file-input:focus~.custom-file-label {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-upload {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload-btn-wrapper .btn-upload:hover {
    border-color: black;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

  
  .welcome-post {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
}

.show-details {
    color: #555;
    font-size: 14px;
    text-decoration: none;
}

.show-details:hover {
    color: #333;
}

.post-content {
    margin: 15px 0;
}

.post-description {
    font-size: 18px;
    line-height: 1.5;
}

.post-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.post-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.comments-section {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #D4E4F2;
    border: 1px solid #D4E4F2;
}

.btn-danger {
    color: #fff;
    background-color: #D4E4F2;
    border: 1px solid #D4E4F2;
}

.btn:hover {
    filter: brightness(90%);
}

.likes-section {
  display: inline-block;
}

.like-btn {
  text-decoration: none;
  color: black;
  position: relative;
}

.heart {
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

.like-btn.clicked .heart {
  color: red; /* Cor quando clicado */
}

.like-count {
  margin-left: 5px;
}

.comment-description {
  font-size: 18px;
  color: #6084A3;
}

.comment-author {
  color: black;
}
.comment-author:hover {
  color: grey;
}

  
/* Barra Lateral Direita */
/* Right Sidebar */
.right-sidebar {
  width: 280px;
  padding: 20px;
  background-color: #6084a3;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  border-radius: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: width 0.3s ease;
}

#search-users {
  margin-bottom: 0px;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #d4e4f2;
  color: #000000;
  font-size: 16px;
}

#user-profile-link:hover {
  color: #000000;
}
#user-username {
  margin-bottom: 3px;
}

/* Additional styling for the suggested groups */
.suggested-groups ul {
  padding: 0;
}

.group-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.group-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.group-details {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Expand group details to full width */
}

.group-name {
  font-weight: bold;
  margin: 0;
}

.join-button {
  background-color: #D4E4F2;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}

.join-button:hover {
  background-color: #2980b9;
}

/* Additional styling for the people near you */
.people-near-you ul {
  padding: 0;
}

.person-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.person-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.person-details {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Expand person details to full width */
}

.person-name {
  font-weight: bold;
  margin: 0;
}

.follow-button {
  background-color: #D4E4F2;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}

.follow-button:hover {
  background-color: #2980b9;
}

.see-more-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  transition: color 0.3s ease; /* Added transition for smooth color change */
}

.see-more-link:hover {
  text-decoration: underline;
  color: #ffffff; /* Set the color to white on hover */
}

.suggested-groups,
.people-near-you,
.trending-hashtags {
  margin-bottom: 20px;
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li:not(#users-not-found, .sidebar-menu > li) {
  margin-bottom: 5px;
}

ul li:not(#users-not-found) {
  transition: transform 0.3s ease;
}

ul li:hover:not(#users-not-found) {
  transform: translateX(5px);
}

.right-sidebar .sidebar-box {
  margin-bottom: 20px;
  border: 1px solid #2980b9;
  padding: 15px;
  border-radius: 0;
  background-color: #2980b9;
  transition: transform 0.3s ease;
}

.right-sidebar .sidebar-box:hover {
  transform: scale(1.05);
}
