  /* Container Geral */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  
  /* Barra Lateral Esquerda */
  .left-sidebar {
    width: 300px;
    height: 100vh;
    min-height: 100%;
    background: url(background.jpg); 
    color: black; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .left-sidebar .logo img {
    max-width: 80%; /* Ajustado para 80% para evitar overflow */
    border-radius: 50%;
  }
  
  .left-sidebar .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
  }
  
  .left-sidebar .sidebar-menu li {
    text-align: center;
    margin-bottom: 45px;
  }
  
  .left-sidebar .sidebar-menu li a{
    color:  black;
    font-size: larger;
  }

  .left-sidebar .sidebar-menu li a:hover{
    color: rgb(191, 191, 191);
  }

  .left-sidebar .profile-section a{
    color:  black;
    font-size: larger;
  } 

  .left-sidebar .profile-section a:hover{
    color: rgb(191, 191, 191);
  } 

  .left-sidebar .profile-section {
    text-align: center;
  }
  
  .left-sidebar .profile-section img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .left-sidebar .sidebar-section {
    margin-top: 20px;
    width: 100%;
  }
  
  .left-sidebar .sidebar-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Conteúdo Principal */
  .main-content {
    flex: 1; /* Cresce para ocupar o espaço restante */
    padding: 15px;
  }
  
  .top-section {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .top-section h2 {
    font-size: 14px;
  }
  
  .top-section .search-bar {
    width: 200px; /* Ajustei a largura para 200px para dar mais destaque */
    margin-top: 10px;
    padding: 8px;
    border: 2px solid #3498db; /* Cor da borda */
    border-radius: 5px;
    background-color: #ecf0f1; /* Cor de fundo */
    color: #2c3e50; /* Cor do texto */
    transition: all 0.3s ease; /* Transição suave para hover */
  
    /* Adiciona sombra suave */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .top-section .search-bar:hover {
    border-color: #2980b9; /* Cor da borda ao passar o mouse */
  }
  
  .upload-post-section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .upload-post-section input {
    width: 80%; /* Reduzi a largura para 60% */
    padding: 30px; /* Aumentei o padding para dar mais destaque */
    border: 2px solid #BAD1E6; /* Cor da borda */
    border-radius: 30px;
    background-color: white; /* Cor de fundo */
    color: #13472E; /* Cor do texto */
    transition: all 0.3s ease; /* Transição suave para hover */
  
    /* Adiciona sombra suave */
    box-shadow: 0 0 10px solid #D4E4F2;
  }
  
  .upload-post-section input:hover {
    border-color: #D4E4F2; /* Cor da borda ao passar o mouse */
    background-color: #D4E4F2; /* Cor de fundo ao passar o mouse */
    color: rgb(41, 41, 93); /* Cor do texto ao passar o mouse */
  }
  
  
  .post-button {
    padding: 5px 20px;
    background-color: rgb(41, 41, 93);
    color: #fff;
    border: none;
    border-radius:30px;
    cursor: pointer;
  }
  
  .welcome-post {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-name {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .post-content {
    margin-bottom: 10px;
  }
  
  .post-actions {
    display: flex;
    align-items: center;
  }
  
  .like-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .like-button:hover {
    background-color: #D4E4F2;
    margin-right: 10px;
    border-radius: 30px;
    font-size: 24px; /* Tamanho do coração aumentado */
  }
  
  .heart-icon {
    margin-right: 10px;
    font-size: 24px; /* Tamanho do coração aumentado */
  }

  .like-count {
    font-weight: bold;
    font-size: 18px; /* Tamanho do contador de likes ajustado */
    margin-right: 5px;
    color:black;
  }
  
  .comment-input {
    width: 70%; /* Reduzi a largura para 60% */
    padding: 18px; /* Aumentei o padding para dar mais destaque */
    border: 2px solid #D4E4F2; /* Cor da borda */
    border-radius: 30px;
    background-color: white; /* Cor de fundo */
    color: rgb(41, 41, 93); /* Cor do texto */
    transition: all 0.3s ease; /* Transição suave para hover */
  
    /* Adiciona sombra suave */
    box-shadow: 0 0 10px solid #D4E4F2;
  }
  
  .comment-button {
    padding: 5px 10px;
    background-color: rgb(41, 41, 93);
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .comments-section {
    margin-top: 10px;
  }
  
  .comment {
    width: 80%; /* Reduzi a largura para 60% */
    padding: 30px; /* Aumentei o padding para dar mais destaque */
    border: 2px solid #D4E4F2; /* Cor da borda */
    border-radius: 5px;
    background-color: #D4E4F2; /* Cor de fundo */
    color: #13472E; /* Cor do texto */
    transition: all 0.3s ease; /* Transição suave para hover */
  
    /* Adiciona sombra suave */
    box-shadow: 0 0 10px solid #D4E4F2;
  }
  
  
  /* Barra Lateral Direita */
  .right-sidebar {
    width: 200px;
    padding: 20px;
    background-color: rgb(205, 205, 205);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .suggested-groups,
  .people-near-you,
  .trending-hashtags {
    margin-bottom: 20px;
  }
  
  .suggested-groups h3,
  .people-near-you h3,
  .trending-hashtags h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  .right-sidebar .sidebar-box {
    margin-bottom: 20px;
    border: 1px solid #D4E4F2;
    padding: 10px;
    border-radius: 5px;
  }
  
  .right-sidebar .sidebar-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  
  
  



/* Estilo padrão para o link de exclusão */
a.btn-danger {
  color: #fff; /* Cor do texto */
  background-color: #D4E4F2; /* Cor de fundo vermelha */
  border-color: #D4E4F2; /* Cor da borda vermelha */
  padding: 8px 12px; /* Espaçamento interno */
  text-decoration: none; /* Remover sublinhado padrão de links */
  border-radius: 4px; /* Borda arredondada */
  transition: background-color 0.3s ease; /* Efeito de transição suave na mudança de cor de fundo */

  /* Adicionando efeito de hover */
  &:hover {
      background-color: #D4E4F2; /* Cor de fundo vermelha mais escura quando passa o mouse */
      border-color: #D4E4F2; /* Cor da borda vermelha mais escura quando passa o mouse */
  }
}

/* Estilo para o link de exclusão quando desabilitado */
a.btn-danger:disabled {
  background-color: #ccc; /* Cor de fundo cinza para indicar desabilitação */
  border-color: #ccc; /* Cor da borda cinza para indicar desabilitação */
  cursor: not-allowed; /* Cursor de "não permitido" quando desabilitado */
}

/* Estilo padrão para o link de atualização */
a.btn-primary {
  color: #fff; /* Cor do texto */
  background-color: #007bff; /* Cor de fundo azul */
  border-color: #007bff; /* Cor da borda azul */
  padding: 8px 12px; /* Espaçamento interno */
  text-decoration: none; /* Remover sublinhado padrão de links */
  border-radius: 4px; /* Borda arredondada */
  transition: background-color 0.3s ease; /* Efeito de transição suave na mudança de cor de fundo */

  /* Adicionando efeito de hover */
  &:hover {
      background-color: #0056b3; /* Cor de fundo azul mais escura quando passa o mouse */
      border-color: #0056b3; /* Cor da borda azul mais escura quando passa o mouse */
  }
}

/* Estilo para o link de atualização quando desabilitado */
a.btn-primary:disabled {
  background-color: #ccc; /* Cor de fundo cinza para indicar desabilitação */
  border-color: #ccc; /* Cor da borda cinza para indicar desabilitação */
  cursor: not-allowed; /* Cursor de "não permitido" quando desabilitado */
}
