@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: black;
}

.privacy-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #BE959F;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.privacy-container h2 {
    color: #13472E;
    text-align: center;
    margin-bottom: 50px;
}

.privacy-container h3 {
    color: white;
}