    /* Barra Lateral Esquerda */
    .left-sidebar {
        width: 300px;
        height: 100vh;
        min-height: 100%;
        background: url(background.jpg); 
        color: black; 
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .left-sidebar .logo img {
        max-width: 80%; /* Ajustado para 80% para evitar overflow */
        border-radius: 50%;
    }
    
    .left-sidebar .sidebar-menu {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        width: 100%;
    }

    .left-sidebar .sidebar-menu li {
        text-align: center;
        margin-bottom: 45px;
      }
      
    .left-sidebar .sidebar-menu li a{
    color:  black;
    font-size: larger;
    }

    .left-sidebar .sidebar-menu li a:hover{
        color: rgb(191, 191, 191);
    }

    .left-sidebar .profile-section a{
    color:  black;
    font-size: larger;
    } 

    .left-sidebar .profile-section a:hover{
    color: rgb(191, 191, 191);
    } 
    
    .left-sidebar .profile-section img {
        width: 80px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    
    .left-sidebar .sidebar-section {
        margin-top: 20px;
        width: 100%;
    }
    
    .left-sidebar .sidebar-section h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }  

    /* Barra Lateral Direita */
    .right-sidebar {
        width: 200px;
        padding: 20px;
        background-color: #D4E4F2;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        margin-right: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    ul li {
        margin-bottom: 5px;
    }
    
    .right-sidebar .sidebar-box {
        margin-bottom: 20px;
        border: 1px solid #D4E4F2;
        padding: 10px;
        border-radius: 5px;
    }
    
    .right-sidebar .sidebar-box h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    

    body .profile-sidebar-header-container {
        display: flex;
        position: relative;
        gap: 20px;
    }
    
    body .profile-header {
        width: 50%;
        display: flex;
        flex-direction: column;
        font-size: small;
        background-color: #D4E4F2;
    }
    
    
    body .profile-header-picture {
        width: 900px;
        height: 300px;
        overflow: hidden;
    }
    
    body .profile-picture {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 50px;
        position: absolute;
        margin-top: -5%;
    }
    
    
    body .profile-header .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 20px;
        margin-left: 60px;
        margin-top: -19px;
    }
    
    body .profile-body {
        display: flex;
        margin-top: 20px;
        width: 60%;
        gap: 20px;
        margin-left: 15%;
    }
    
    body .profile-body .post {
        border: 1px solid #ddd;
        background-color: white;
        margin-bottom: 10px;
        text-align: center;
        padding: 20px;
        background-color: #D4E4F2;
    }
    
    body .profile-body .post-item {
    border: 1px solid #ddd;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 650px;
    }

    body .profile-body .post-item p {
        margin-bottom: 10px;
    }

    body .profile-body .post-item .post-content {
        font-size: 16px;
        line-height: 1.5;
    }

    body .profile-body .post-item .post-details {
        display: flex;
        justify-content: space-between;
    }

    body .profile-body .post-item .post-details a{
        color:black;
    }

    body .edit-profile-link,
    body .send-friend-request-link {
        display: block;
        margin-top: 40px;
        margin-left: auto; 
        margin-right: 50px;
        color: rgb(41, 41, 93);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 30px;
        border-color:  rgb(41, 41, 93);
        background-color: white;
        text-decoration: none;
        text-align: center;
        width: fit-content;
        font-size: 15px;
    }

    body .edit-profile-link:hover,
    body .send-friend-request-link:hover {
        color: white;
        background-color: rgb(41, 41, 93);
    }
    
    body .profile-right-sidebars{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    body .profile-editable-fields{
        margin-top: 100px;
        margin-left: 60px;
        margin-right: 60px;
    }
    
    body .profile-save-changes{
        margin-left: 40%;
    }
    
    body .user-info{
        margin: 20px;
    }

    .error {
        width: fit-content;
        display: block;
        background-color: rgb(244, 193, 193);
        border-radius: 4px;
        font-size: 12px;
        margin-bottom: 20px;
        padding: 8px;
        color: rgb(237, 71, 71);
    }

    
    